@font-face {
    font-family: mlhFont;
    src: url(/media/mlhfont.ttf);
}
*{
    font-family: mlhFont;
}
* .gfont{
    font-family: 'Product Sans' !important;
}
* ::selection{
    background-color: #FF8119;
    color: white;
}
body{
    color: white;
    background-color: #333;
}
.theme-color{
    background-color: #F5A519 !important;
}
.navbar-item{
    color: white;
}
a{
    color: #FF8119;
}
a:hover{
    color: white;
}

.form-link:hover {
    color: blue;
}

.txtShadow{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
nav{
    background: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    z-index: 51 !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.modal-close{
color: black !important;
background: red;
}
input{
    font-family: 'Product Sans';
}
img{
user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logoDisplay{
    max-width: 500px ;
    max-height: 500px ;
    min-width: 200px;
    min-height: 300px;

}
#otherSchoolCon{
    display: none;
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    .logoDisplay{
        width: 300px !important;
        height: 200px !important;
    }
}
.displayer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}
#about  {
    padding-left: 20%;
    padding-right: 20%;
}
#about span{
    font-family: 'Product Sans';
    font-weight: 400;
}
#about .is-3{
    padding: none !important ;
    margin: none !important ;
color:#818181;
}
.curve{
}
#faq, #schedule{
    padding-left: 15%;
    padding-right: 15%;
    align-content: center;
}
#faq span{
    font-family: product sans,Arial,sans-serif;
}
#about{
    border-radius: 20px;
}
.gard {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  section{
      padding: 15px;
  }
  .vard {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
  }
  #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 800 !important;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  float: right;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.shower {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}
.shower.is-visible {
	display: block;
	height: auto;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.carousel{
    width: 67% !important;
    height: 60% !important;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.carousel .title{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(245, 104, 24, 0.877)) !important;
}
.carousel .carousel-container .carousel-item .title{
background: rgba(255,255,255,.1);
}
.title{
    color: white !important
}
.carousel-nav-right{
border-top-left-radius: 10px !important;
border-bottom-left-radius: 10px !important;
}
.carousel-nav-right, .carousel-nav-left{
    transition: all .2s ease-in-out;
}
.carousel-nav-left{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
 }
 .carousel-nav-right:hover, .carousel-nav-left:hover{
    transform: scale(1.1);
}
.allMain{
   background-attachment: fixed;
   background-image: url("../media/bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#navbarBasicExample{
    background: rgba(255, 255, 255, 0.0) !important;
}
footer .fab, footer .fas{
padding: 5px;
font-size: 25px;
}
.footer{
  background-color: #333;
}
#navBold .button{
    padding: 10px;
}
.footer a{
    color: inherit;
}
#about .fas, .fa-calendar{
    padding-right: 8px;
}
th, td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;
  }
  #under-btn{
    z-index: 51 !important;
  }
  #signup-modal{
      z-index: 52 !important;
  }

  #particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0
}
button{
    border-color: none !important;
    border: none !important;
}
table{border-collapse:collapse;}
th{text-align:inherit;}
.table{width:100%;margin-bottom:1rem;}
.table-dark td,.table-dark th,.table-dark thead th{border-color:#95999c;}
.table-dark{color:#fff;
    background-color:#343a40 !important;}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: black !important

}
td{
    color: black !important;
}
.bluecaf{
    color: blue !important
}
.button{
    border: none !important
}
#navbarBasicExample{
	background:black;
	color: white;
}
BlueCaf{
    color: blue !important;
}
BlueCaf::after{
    content: 'Blue Cafeteria';
}
RedCaf{
    color: red !important;
}
RedCaf::after{
    content: 'Red Cafeteria';
